@page "/gadgettypes"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Gadgets.Domain
@using Gadgets.Blazor.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Gadgets.Blazor.Data.GadgetsBlazorContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="gadgettypes/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.GadgetType">
    <PropertyColumn Property="gadgettype => gadgettype.Name" />
    <PropertyColumn Property="gadgettype => gadgettype.IsHazardous" />

    <TemplateColumn Context="gadgettype">
        <a href="@($"gadgettypes/edit?id={gadgettype.Id}")">Edit</a> |
        <a href="@($"gadgettypes/details?id={gadgettype.Id}")">Details</a> |
        <a href="@($"gadgettypes/delete?id={gadgettype.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private GadgetsBlazorContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
