@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>


<Counter Step="10" Count="myCount" CountChanged="c => myCount = c"/>
<p>Home count: @myCount</p>

<Counter Step="5" @bind-Count="myCount"  />
<p>Home count: @myCount</p>
    

@code {
    int myCount = 100;
}



