@page "/"
@inject IJSRuntime JSRuntime
@implements IAsyncDisposable

<PageTitle>Where is Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick=@GetLocationAsync>Get Location</button>

@if (geoCoordinates is not null)
{
    <h3>Where you are </h3>
    <div>
        Latitude : @geoCoordinates.Latitude <br />
        Longitude : @geoCoordinates.Longitude<br />
        Accuracy : @geoCoordinates.Accuracy
    </div>
}

@code
{
    private readonly Lazy<Task<IJSObjectReference>> moduleTask = default!;
    private readonly DotNetObjectReference<Index> dotNetObjectReference;

    private GeoCoordinates? geoCoordinates; // het resultaat


    // This is a "Lazy loading" pattern. The ctor sets up a Task, 
    // the method below awaits it
    public Index()  // constructor
    {
        moduleTask = new(() => JSRuntime.InvokeAsync<IJSObjectReference>(identifier: "import",            
            args: "./js/GeoLocationJsInterop.js").AsTask());  

        // In a RCL args: "./_content/MyRazorClassLib/js/GeoLocationJsInterop.js"

        // the handle for JS to call OnSuccessAsync() 
        dotNetObjectReference = DotNetObjectReference.Create(this);  
    }

    public async Task GetLocationAsync()
    {
        Console.WriteLine("Wait for a module");
        var module = await moduleTask.Value;
        Console.WriteLine("Got a module");
        await module.InvokeVoidAsync(identifier: "getCurrentPosition", dotNetObjectReference);
        Console.WriteLine("Called JS");
    }

    [JSInvokable]
    public async Task OnSuccessAsync(GeoCoordinates geoCoordinates)
    {
        Console.WriteLine("Success Callback");
        this.geoCoordinates = geoCoordinates;
        await InvokeAsync(StateHasChanged);
    }

    public async ValueTask DisposeAsync()
    {
        if (moduleTask.IsValueCreated)
        {
            var module = await moduleTask.Value;
            await module.DisposeAsync();
        }
    }

}