@page "/suppliers/details"
@using Microsoft.EntityFrameworkCore
@using Gadgets.Domain
@inject IDbContextFactory<Gadgets.Blazor.Data.GadgetsBlazorContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Supplier</h2>
    <hr />
    @if (supplier is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@supplier.Name</dd>
            <dt class="col-sm-2">Address</dt>
            <dd class="col-sm-10">@supplier.Address</dd>
        </dl>
        <div>
            <a href="@($"/suppliers/edit?id={supplier.Id}")">Edit</a> |
            <a href="@($"/suppliers")">Back to List</a>
        </div>
    }
</div>

@code {
    private Supplier? supplier;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        supplier = await context.Supplier.FirstOrDefaultAsync(m => m.Id == Id);

        if (supplier is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
