@page "/suppliers"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Gadgets.Domain
@using Gadgets.Blazor.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Gadgets.Blazor.Data.GadgetsBlazorContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="suppliers/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Supplier">
    <PropertyColumn Property="supplier => supplier.Name"  Title="Naam" Sortable="true" />
    <PropertyColumn Property="supplier => supplier.Address" />

    <TemplateColumn Context="supplier">
        <a href="@($"suppliers/edit?id={supplier.Id}")">Edit</a> |
        <a href="@($"suppliers/details?id={supplier.Id}")">Details</a> |
        <a href="@($"suppliers/delete?id={supplier.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private GadgetsBlazorContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
